
:root {
  --info: #20BEB8;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #333;
  color: white;
  height: 60px;
  padding-left: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
h1 {
  font-size: 30px;
  padding:0;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  margin: 0;
}

h1 i {
  font-size: 50px;
  color: #20BEB8;
  vertical-align: middle;
  font-size: 36px !important;
}

h2 {
  display: inline-block;
  margin-right: 10px
}

 
.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.content-col {
  width: 50%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.left {
  /*background-color: blue;*/
  border-right: 2px solid #ddd;
}

.right {
  /*background-color: green;*/
}

textarea {
  resize: none;
  flex:1;
  background-color: #fafafa;
  /*border:none;*/
  border-radius: 5px;
  outline: none !important;
  padding: 10px;
}
.buttons {
  height: 60px;
}

 
.btn:hover i {
  transform: scale(1.5);
}

.btn {
  margin-right: 10px;
}
.buttons .btn {
    margin-top: 10px;
}

.btn-link {
  color: var(--info);
}
.btn i {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 10px;
  transition: 0.3s ease-in all;

}

.lc {
  padding-left: 10px;
}
 

select.form-control {
  width:120px;
  display: inline-block;
  vertical-align: middle;

}

@media (max-width: 700px) {
  .content {
  flex-direction: column;

  }
  .content-col {
    width: calc(100% - 0px);
    flex:1;
  }
  .left {
    border-bottom: 2px solid #ddd;
    border-right: none;

  }

}
.top-form {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-col h2 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 18px;
  font-weight: bolder;
}

#settingsMenuButton{
  margin-right: 0;
}

.dropdown {
  display: inline-block;
}